<div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
        <h1 class="display-1 fw-bold" style="color: white;">Equipo 4</h1>
    </div>
</div>
<div id="contenido" class="d-flex align-items-center justify-content-center">
    <br>
    <br>
  <div class="text-center">
    <h1 style="color: white">Integrantes</h1>
    <div id="texto" class="container text-center">
      <div class="row">
        <div class="col">
          <img
            src="https://www.w3schools.com/howto/img_avatar2.png"
            alt="Avatar"
            width="150px"
          />
        </div>
        <div class="col">
          <img
            src="https://www.w3schools.com/howto/img_avatar.png"
            alt="Avatar"
            width="150px"
          />
        </div>
        <div class="col">
          <img
            src="https://www.w3schools.com/howto/img_avatar.png"
            alt="Avatar"
            width="150px"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">SOFIA BELEM CANO MACIAS</div>
        <div class="col">ABRAHAM ISAIAS PONCE MORENO</div>
        <div class="col">ALFREDO LUNA CASTRO</div>
      </div>
      <div class="row">
        <div class="col">19150312</div>
        <div class="col">18150306</div>
        <div class="col">18150339</div>
      </div>
      <div class="row">
        <div class="col">19150312@aguascalientes.tecnm.mx</div>
        <div class="col">18150306@aguascalientes.tecnm.mx</div>
        <div class="col">18150339@aguascalientes.tecnm.mx</div>
      </div>
    </div>
  </div>
</div>
