<div class="container text-center">
  <br />
  <img
    src="https://media0.giphy.com/media/dMLmQfCO7lCA2gX3tw/giphy.gif?cid=ecf05e475k9hbmpxjhixheq7o52hvlqg00be0v5hfiliz98q&ep=v1_gifs_related&rid=giphy.gif&ct=s"
    alt=""
    width="300"
    class="img-fluid"
  />
  <p
    style="
      font-size: 25px;
      color: white;
      font-weight: bold;
      text-align: justify;
    "
  >
    <!-- Una vez explorados y preparados las variables con todos los datos
    almacenados en el dataset, procedemos a implementar algoritmos que
    procesaran y analizaran toda la información que le brindemos a través de
    modelos o también redes neuronales. -->
  </p>
  <p
    style="
      font-size: 25px;
      color: white;
      font-weight: bold;
      text-align: justify;
    "
  >
    <!-- a continuación se puede apreciar la creación y codificación de los elementos
    necesario para la generación de nuestro modelo, en donde se mapea un
    diccionario para convertir los datos a números binarios para su
    procesamiento. -->
  </p>
  <br />
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="font-weight: bold">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="home-tab"
        data-bs-toggle="tab"
        data-bs-target="#home-tab-pane"
        type="button"
        role="tab"
        aria-controls="home-tab-pane"
        aria-selected="true"
        routerLink="naive_bayes"
      >
        Naïve Bayes
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="profile-tab"
        data-bs-toggle="tab"
        data-bs-target="#profile-tab-pane"
        type="button"
        role="tab"
        aria-controls="profile-tab-pane"
        aria-selected="false"
        routerLink="knn"
      >
        KNN
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="contact-tab"
        data-bs-toggle="tab"
        data-bs-target="#contact-tab-pane"
        type="button"
        role="tab"
        aria-controls="contact-tab-pane"
        aria-selected="false"
        routerLink="logistic_regression"
      >
        Regresión Logistica
      </button>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
