<div class="container text-center">
    <br>
    <h1 style="color: white">Analisis de sentimientos en Twitter</h1>
    <br>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="feeling">Sentimiento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="gender">Genero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="word">Palabra</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="disable">Disabled</a>
        </li>
      </ul>
      <router-outlet></router-outlet>
              
</div>