<div class="container text-center">
  <h1 style="color: white">
    <img
      src="https://media0.giphy.com/media/McthQ7SWLfrZsKXBwp/giphy.gif?cid=ecf05e47x3glz6h848ammlk63wi4dd78yt6bej6twves2lpf&ep=v1_stickers_search&rid=giphy.gif&ct=s"
      alt=""
      width="150"
      class="img-fluid"
    />
    Hate en Redes Sociales
  </h1>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
    style="
      box-shadow: -3px -3px 56px 0 rgb(122, 221, 102),
        4px 4px 16px 2px rgb(92, 162, 235);
    "
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../../assets/img/Banners/banner7.PNG"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/img/Banners/banner8.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/img/Banners/banner9.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/img/Banners/banner6.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block"></div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <br />
  <br />
  <div style="font-size: 28px; color: white; font-weight: bold">
    <div>
      <img
        style="float: left; padding: 20px; border-radius: 60%"
        src="https://media2.giphy.com/media/impp9nyZ1KLHz4GyQx/giphy.gif?cid=ecf05e47ba6i30rl6ij7ox05c3kpw14nqnbn7q2o8vuqtyzd&ep=v1_gifs_search&rid=giphy.gif&ct=g"
        alt=""
        width="300"
        class="img-fluid"
      />
      <p style="text-align: left">
        <br />
        Las redes sociales son el vivo reflejo de la sociedad actual. Siendo una
        fuente prácticamente inagotable de datos, podemos utilizar los recursos
        que nos ofrecen para medir fenómenos que ocurren dentro de ellas, como
        la generación y viralización de contenido ofensivo y de odio por parte
        de los usuarios.
      </p>
      <br />
    </div>
    <div>
      <img
        style="float: right"
        src="https://media0.giphy.com/media/SIZesC1USFtPspWqxM/giphy.gif?cid=ecf05e475j15bbeuixrmccxq9suqnpy0mya5zz56x0lhmfm5&ep=v1_stickers_search&rid=giphy.gif&ct=s"
        alt=""
        width="300"
        class="img-fluid"
      />
      <p style="text-align: left">
        <br />
        El odio, es uno de los muchos sentimientos con significado negativo que
        experimenta el ser humano. Es probablemente el más perverso,
        contraproducente y destructivo de todos. Ya que, cuando se odia a
        alguien o a un grupo, se desea su mal, que le vaya mal en su vida y
        experimente sentimientos y experiencias negativas. El odio también puede
        ir generado contra animales, objetos o hechos.
      </p>
    </div>
    <div>
      <img
        style="float: left; padding: 20px; border-radius: 60%"
        src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGYxYjI0ZWM3ZmEzM2JhZDllM2EzYTg4MmUwOWQyNjlhZDI5Yjg0NCZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/RM5O33lLVnU7yN69Np/giphy.gif"
        alt=""
        width="300"
        class="img-fluid"
      />
      <p style="text-align: left">
        <br />
        <br />
        Un hater en redes sociales, muestra agresión a través de comentarios
        hirientes, discriminatorios o violentos, sin importarle si difunde
        información falsa, generalizaciones o insultos. Te brindamos la forma en
        que debes reaccionar al toparte con alguno en el mundo digita
      </p>
      <br />
    </div>
  </div>
</div>
