<div class="container text-center">
  <br />
  <h1 style="color: white;">Titulo</h1>
  <br>
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
    style="
      box-shadow: -3px -3px 56px 0 rgb(122, 221, 102),
        4px 4px 16px 2px rgb(92, 162, 235);
    "
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../../assets/img/Banners/banner7.PNG"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color: rgb(0, 0, 0); font-size: larger; font-weight: bold; font-size: 25px; text-shadow: #FC0 5px 0 10px;">First slide label</h5>
          <p style="color: rgb(0, 0, 0); font-size: larger; font-weight: bold; font-size: 15px; text-shadow: #FC0 5px 0 10px;">Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/img/Banners/banner8.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../../../assets/img/Banners/banner9.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br />
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img
        src="../../../../../assets/img/happy-smile.gif"
        width="200"
        height="200"
        class="img-fluid"
      />
    </div>
    <div class="col">
      <img
        src="../../../../../assets/img/angry-annoyed.gif"
        width="200"
        height="200"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row">
    <div
      class="col"
      style="
        color: rgb(255, 255, 255);
        text-shadow: 20px 15px 7px rgb(230, 226, 5);
      "
    >
      <h3><b>30%</b></h3>
      <h3><b>State:</b> Texas</h3>
      <h3><b>Total:</b> 6,643</h3>
    </div>
    <div
      class="col"
      style="
        color: rgb(255, 255, 255);
        text-shadow: 20px 15px 7px rgb(230, 226, 5);
      "
    >
      <h3><b>70%</b></h3>
      <h3><b>State: </b>Los angeles</h3>
      <h3><b>Total: </b> 26,988</h3>
    </div>
  </div>
</div>
