<div id="content">
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <p style="font-weight: bold;font-size: 50px;">Negativos</p>
        <img
          src="../../../../../assets/img/angry-annoyed.gif"
          alt=""
          width="200"
          height="200"
          class="img-fluid"
        />
      </div>
      
      <div class="col">
        <p style="font-weight: bold;font-size: 50px;">Positivos</p>
        <img
          src="../../../../../assets/img/happy-smile.gif"
          alt=""
          width="200"
          height="200"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p style="color: red; font-weight: bold; font-size: 50px;">12,982</p>
      </div>
  
      <div class="col text-center">
        <p style="color: rgb(0, 255, 0); font-weight: bold; font-size: 50px;">130,760</p>
      </div>
    </div>
    <p style="font-size: 50px; font-weight: bold;">Total: 143,742</p>
  </div>
</div>
