<div id="content">
  <p>
    Al finalizar la clasificacion de los tuits nuestros resultados de los
    sentimeintos fueron los siguientes
  </p>
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <img
          src="../../../../../assets/img/angry-annoyed.gif"
          alt=""
          width="200"
          height="200"
          class="img-fluid"
        />
      </div>
      <div class="col">
        <br />
        <img
          src="../../../../../assets/img/neutral.gif"
          alt=""
          width="180"
          height="200"
          class="img-fluid"
        />
      </div>
      <div class="col">
        <img
          src="../../../../../assets/img/happy-smile.gif"
          alt=""
          width="200"
          height="200"
          class="img-fluid"
        />
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p style="color: red; font-weight: bold; font-size: xx-large;">26,988</p>
      </div>
      <div class="col text-center">
        <p style="color: yellow; font-weight: bold; font-size: xx-large;">5,897</p>
      </div>
      <div class="col text-center">
        <p style="color: rgb(0, 255, 0); font-weight: bold; font-size: xx-large;">6,643</p>
      </div>
    </div>
  </div>
</div>
