<nav class="navbar navbar-expand-lg" style="background-color: #1B396A;">
    <div class="container-fluid">
        <div class="align-text-top">
            <img src="https://cdn-icons-png.flaticon.com/512/3587/3587102.png" alt="Logo" width="50" height="50"
                class="d-inline-block align-text-top">
            <a class="navbar-brand" routerLink="home" style="font-size: 25px; color: white; font-weight: bold;">App</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="font-size: 20px; color: white;" aria-current="page"
                        routerLink="home">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="analysis" style="font-size: 20px; color: white;"
                        aria-current="page">Analisis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" style="font-size: 20px; color: white;"
                        aria-current="page">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about" style="font-size: 20px; color: white;"
                        aria-current="page">Acerca de nosotros</a>
                </li>
            </ul>

        </div>
        <form class="d-flex" role="search" style="padding-left: 0%;">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">

            <button class="btn btn btn-outline-light" type="submit">Search</button>
        </form>
    </div>
</nav>